[Desktop Entry]
StartupWMClass=HelloQTGui
Version=1.0
Name=HelloQTGui
Type=Application
Path=/home/istarnight/PythonLearn/Qt6
Categories=Utility
Exec=/usr/bin/python3.13 /home/istarnight/PythonLearn/Qt6/QtHello.py
Icon=/home/istarnight/PythonLearn/Qt6/Icon/bill.png
Comment=test desktop file
Terminal=false
StartupNotify=true